ProceduralTerrainGen/.vs/
ProceduralTerrainGen/Intermediate/
ProceduralTerrainGen/Saved/
ProceduralTerrainGen/Binaries/

ProceduralTerrainGen/Plugins/SimplexNoise/.vs/
ProceduralTerrainGen/Plugins/SimplexNoise/Intermediate/
ProceduralTerrainGen/Plugins/SimplexNoise/Saved/
ProceduralTerrainGen/Plugins/SimplexNoise/Binaries/
ProceduralTerrainGen/Build/ProceduralTerrainGenerator_Wint64.rar
*.zip
